<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Index</title>
    <style type="text/css">
        td {text-align:left;vertical-align:top;}
        input[type=text] { background-color:#efefef;}
        .BlueDiv { background-color: Navy; color:White;width:200px;}
        .RedDiv { background-color: Red; color:White; width:200px;}
        input.Highlight , .Highlight { background-color: Yellow;}
        .LightHighlight { background-color: #ccc;}
        .PhoneHighlight { background-color:#ccc;}
        .PhoneNumber { margin-top:5px;width:80px;}
        .PhoneType { margin-top:5px;}
        .PhoneNumberDiv {text-align:left; vertical-align:middle; width:200px;float:left;margin-bottom:5px; height:30px; }
        .PhoneTypeDiv { text-align:left; vertical-align:middle;width:100px;float:left; height:30px; }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var tbody = $('#customers tbody');
            $('#addRow').on('click',
                function() {
                    tbody.append('<tr><td>Jane</td><td>Doe</td></tr>');
                });

            tbody.on('click ', 'td',
                function () {
                    alert($(this).text());
                });
//            $('#customers tbody').on('click ', 'td',
//                function() {
//                    alert($(this).text());
//                });
        });


    </script>
</head>
<body>
<div>
    <div id="selectedPerson">
        <button id="addRow">AddRow</button>
        <table id="customers">
            <tr>
                <td>John</td>
                <td>Doe</td>
            </tr>
            <tr>
                <td>Jim</td>
                <td>Leaner</td>
            </tr>
            <tr>
                <td>Michelle</td>
                <td>James</td>
            </tr>
            <tr>
                <td>Heedy</td>
                <td>Faust</td>
            </tr>
            <tr>
                <td>Tina</td>
                <td>Smith</td>
            </tr>
            <tr>
                <td>Supna</td>
                <td>Patoria</td>
            </tr>
            <tr>
                <td>Spike</td>
                <td>Francis</td>
            </tr>
            <tr>
                <td>Dan</td>
                <td>Walhin</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
